.aboutContainer {
  height: 100vh;
  background: #2f3335;
  font-family: "Poppins", sans-serif;
}

.aboutTextContainer {
  border: 5px solid #ffff00;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  height: 55%;
  width: 50%;

  display: flex;
}

.aboutText {
  /* background-color: red; */

  height: 100%;
  width: 60%;
}

.aboutImg {
  background-color: blue;
  height: 100%;
  width: 40%;
}

.aboutText1 {
  /* background-color: green; */
  width: 100%;
  height: auto;
  color: #81ecec;
  font-size: 40px;
  font-weight: bold;
}

.aboutText2 {
  padding-top: 15px;
  color: #bcbaba;
}

.aboutText3 {
  color: #bcbaba;
}

.nameMark:hover {
  cursor: pointer;
  user-select: none;
}

.highlight {
  background: transparent;
  color: #81ecec;
}

.aboutLink {
  color: #81ecec;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}
.aboutLink:hover {
  text-decoration-color: #81ecec;
  cursor: pointer;
}
