.aboutPage {
  height: 100vh;
  color: white;
}

.aboutTextContainer {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #ffff00;
  padding: 10px;
  height: 40%;
  width: 60%;
}
