.descContainer {
  /* background-color: blue; */

  height: auto;
  width: 80%;
  margin-left: auto;
  margin-right: 0;

  position: relative;
}

.descHeader {
  /* background-color: red; */

  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.headSec1 {
  /* background-color: green; */

  width: 100%;
  height: auto;
  display: flex;
  gap: 10px;

  font-family: "Poppins", sans-serif;
}

.descTitle {
  color: white;
  font-size: 21px;
}

.descCompany {
  color: #81ecec;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
  font-size: 21px;
  margin-left: auto;
  padding-right: 10px;
}
.descCompany:hover {
  text-decoration-color: #81ecec;
  cursor: pointer;
}

.headSec2 {
  /* background-color: red; */

  width: 100%;
  display: flex;

  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 14px;

  display: flex;
}

.descLocation {
  margin-left: auto;
  padding-right: 10px;
}

.descBody {
  /* background-color: yellow; */

  width: 100%;
  height: auto;
}

.descUl {
  /* background-color: red; */

  /* padding: 0; */
  padding-left: 15px;
}

.descLi {
  font-family: "Poppins", sans-serif;
  color: #bcbaba;

  padding-left: 10px;
  padding-bottom: 5px;
}
