.heroContainer {
  height: 100vh;
  background: #2f3335;
  font-family: "Poppins", sans-serif;
}

.heroTextContainer {
  border: 5px solid #ffff00;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  height: 70%;
  width: 70%;

  display: flex;
}

.heroText {
  /* background-color: red; */
  height: 100%;
  width: 60%;
}

.heroImg {
  background-color: blue;
  height: 100%;
  width: 40%;
}

.heroText1 {
  /* background-color: green; */
  width: 100%;
  height: auto;
  color: #81ecec;
  font-size: 60px;
  font-weight: bold;
}

.heroText2 {
  padding-top: 15px;
  color: #959292;
}

.heroText3 {
  color: #959292;
}

.myNameIs {
  color: white;
}

.name {
  color: #00cec9;
  margin: 0px;
  font-size: clamp(60px, 8vw, 60px);
}

.whatIDo {
  color: #959292;
  margin: 0px;
  font-size: clamp(40px, 8vw, 60px);
}

.myDescription {
  color: #959292;
}
