.notSupContainer {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
}

.notSup {
  border: 5px solid var(--primary-color);

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  height: 50%;
  width: 50%;

  display: flex;

  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 32px;

  justify-content: center;
  align-items: center;
}

.notSupText {
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}
