.projectContainer {
  height: 100vh;
  background: #2f3335;
}

.projectList {
  /* border: 5px solid #ffff00; */
  background: #2f3335;

  position: relative;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0%);
  padding: 10px;
  min-height: 80%;
  width: 60%;
}

.projectHeader {
  /* background-color: red; */

  width: 100%;
  height: auto;
  margin-bottom: 10px;

  color: #81ecec;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: bold;
  text-align: right;
}

.projectBody {
  /* background-color: blue; */

  width: auto;
  height: auto;
  position: relative;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
